#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/home/user/eclipse/icon.xpm
Name[en_US]=Eclipse
Exec=/home/user/eclipse/eclipse
Name=Eclipse
Icon=/home/user/eclipse/icon.xpm
